<body>
  <a href="/costumes/create"><button type="button">Create new costume</button></a>
<% costumes.forEach(costume => { %>
  <div class="groupbox">
  <img src="<%= costume.costumePicture %>" width="200px">

  <a href="/costumes/<%= costume.id%>"><%= costume.costumeName %></a>
</div>
<% }) %>
</body>
