<body>
  <a href="/groups/create"><button type="button">Create new group</button></a>
<% groups.forEach(group => { %>
  <div class="groupbox">
  <img src="<%= group.groupPicture %>" width="200px">

  <a href="http://localhost:8080/groups/<%= group.id%>"><%= group.groupName %></a>
  <p>Description: <%= group.groupDescription %> </p>
</div>
<% }) %>
</body>
