<body>
  <a href="/groups/create"><button type="button">Create new group</button></a>
<% groups.forEach(g => { %>
  <div class="groupbox">
  <img src="<%= g.groupPicture %>" width="200px">

  <p>Name: <%= g.groupName %> </p>
  <p>Description: <%= g.groupDescription %> </p>
</div>
<% }) %>
</body>
