
<body>
  <% users.forEach(function(user) { %>
  <div class="groupbox">
    <img src="<%= user.userPicture %>" alt="Profile Picture" />
    <a href="/users/<%= user.id %>"><%= user.userFirstName %> <%= user.userLastName %></a>
</div>
<% }) %>
</body>
