<% users.forEach(function(user) { %>
  <img src="<%= user.userPicture %>" alt="Profile Picture" />
  <a href="http://localhost:8080/users/<%= user.id %>"><%= user.userFirstName %> <%= user.userLastName %></a>
<% }) %>
