<link rel="stylesheet" href="/css/halloween.css" media="screen" charset="utf-8">

<div class="message">
    <h1>CODAween</h1>
    <span>Viktoria + Marita</span>
  </div>

<h3> Welcome, <%= user.userFirstName %> </h3>
<p>
  Email/login: <%= user.userEmail %>
</p>
</body>
