<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CODAween</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="icon" href="https://img0.etsystatic.com/117/0/5571360/il_fullxfull.1005584672_5h15.jpg">
  </head>
  <body>
    <h1>This is CODAween!</h1>
    <nav>
      <a href="#">Home</a>
      <a href="#">See the Costumes</a>
      <a href="#">See the People</a>
      <a href="#">Join a Group</a>
      <a href="#">Create a Costume</a>
      <a href="#">Create a Group</a>
      <form action="/authenticate/logout" method="POST" class="form login">
        <div class="form__field">
          <input type="submit" value="Log out">
        </div>
      </form>
    </nav>
    <%- body %>
    <script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>
