<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CODAween</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Oswald|Creepster" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">

    <link rel="icon" href="https://img0.etsystatic.com/117/0/5571360/il_fullxfull.1005584672_5h15.jpg">

  </head>
    <% if(page !== "/login" && page !== "/register" && page !== "/homepage"){ %>
      <body class="align2">
      <h1>This is CODAween!</h1>

      <div class="logout">
      <form action="/authenticate/logout" method="POST" class="form login">
           <div class="form__field">
             <input type="submit" value="Log out">
           </div>
         </form>
       </div>
      <%- include('partials/nav', {active: active}); %>

    <% } else if (page == "/login"){%>
      <body class="svg align">
      <h1 class="lr"> Login </h1>
    <% } else if (page == "/register"){ %>
      <body class="svg align" style="margin-top: 4rem;">
      <h1 class="lr"> Register </h1>
    <% }%>

    <%- body%>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>
