<h3>Login page</h3>
<form action="/authenticate/login" method="POST">
    <input type="text" name="email" placeholder="enter email">
    <input type="password" name="password" placeholder="enter password">
    <button type="submit" name="button">Log in</button>

  </form>
