<h3>Register as a new user</h3>
<form class="" action="/api/register" method="POST">
      <input type="text" name="email" placeholder="enter email">
      <input type="text" name="password" placeholder="enter password">
      <button type="submit" name="button">Create user</button>

    </form>
